extends layout

block content
 div.browse
  div.browseWindow
   h1.browseTitle Browse Chats

   ul.browseArea
    each room in rooms
     li.browseList
      a(href="room/#{room.id}" style="color: #{room.color}") #{room.name}
      div(id="#{room.id}")
