extends layout


block content
 
 h1#homeBtn
  a(href='/') Home
 h1#roomName(contenteditable='true') #{room.name}
 
 #globalBtn
  p G

 #messageArea
  ul#history
  each chat in room.chats
   li #{chat.msg}
  ul#messages
  
 form#chatForm(action='')
  input#m(autocomplete='off')
  button#send Send
 
 #closeGlobal
  p X
  
 #globalChatTitle
  p Global Chat

 #globalChat

  ul#globalMessages

 #time
  p#text Chatroom Life:
   span#timer

 #{room.color}
  script(type='text/javascript').
   var color =!{JSON.stringify(room.color)}