extends layout


block content
 
 h1#roomName(contenteditable='true') #{room.name}
 
 #messageArea
  ul#messages
  each chat in room.chats
   li #{chat.msg}
  form(action='')
    input#m(autocomplete='off')
    button Send


