extends layout

block content
    #landingPage
      #container
      #intro
        h1 Ravens
        h2 No Login Required Chat Rooms
        input#startNewBtn(type='button', value='Create New Chat Room')
        input#browseBtn(type='button', value='Browse Chat Rooms')
        p
          | Coded and Designed by 
          a(href='https://github.com/DevTrader', target='_blank') Nicolas Kao

    

      #browseContent

        #close 
          p X
        h1#browseTitle Browse
        ul.browseArea
          each room in rooms
            li.browseList
              a(href="room/#{room.id}" style="color: #{room.color}") #{room.name}
              div(id="#{room.id}") 




