extends layout

block content
  body
    #landingPage
      #container
      script(src='ThreeJS/three.min.js')
      script(src='ThreeJS/Projector.js')
      script(src='ThreeJS/CanvasRenderer.js')
      script(src='ThreeJS/stats.min.js')
      script(src='ThreeJS/birds.js')
      script(type='text/javascript', src='mainBirds.js')
      #intro
        h1 Ravens
        h2 No Login Required Chat Rooms
        input#startNewBtn(type='button', value='Create New Chat Room')
        input#browseBtn(type='button', value='Browse Chat Rooms')
        p
          | Coded and Designed by 
          a(href='https://github.com/DevTrader', target='_blank') Nicolas Kao
      
      #browseChatRooms
        div.browseWindow
          h1.browseTitle Browse Chats

          ul.browseArea
            each room in rooms
              li.browseList
                a(href="room/#{room.id}" style="color: #{room.color}") #{room.name}

    script(type='text/javascript', src='main.js')