doctype html
html(lang='en')
  head

    title Ravens
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/chatRoomMain.css')
    link(href='https://fonts.googleapis.com/css?family=Great+Vibes', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')    
    

    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')

  body


    if (error && error.length > 0)
      br
      h4.error-msg= error
      br
    script(src='https://code.jquery.com/jquery.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')


  
 
    //script(type='text/javascript', src='https://mighty-crag-98568.herokuapp.com/js/socket.js')
    script(type='text/javascript', src='../js/socket.js')
    script(type='text/javascript', src='../main.js')
    script(src='ThreeJS/three.min.js')
    script(src='ThreeJS/Projector.js')
    script(src='ThreeJS/CanvasRenderer.js')
    script(src='ThreeJS/stats.min.js')
    script(src='ThreeJS/birds.js')
    script(type='text/javascript', src='mainBirds.js')
    block content

     

