#m, #send{
	border-radius: 50px;
	border: 1px solid black;
}

#messageArea{
	width: 60%;
	font-size: 16px;
	height: 88%;
	overflow-y: scroll;
}

#chatForm{
	width: 60%;
	background: white;
	bottom: 10px;
}

#globalChat{
    width: 40%;
    height: 50%;
    overflow-y: scroll;
    float: right;
    background: #e8e8e8;
	position: relative;
    bottom: 50%;
    border-top: 2px solid black;
}

/*Scroll bar*/
#globalChat::-webkit-scrollbar-track, #messageArea::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#globalChat::-webkit-scrollbar, #messageArea::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#globalChat::-webkit-scrollbar-thumb, #messageArea::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

#time{
	position: absolute;
	z-index: 9999;
	bottom: 0;
	font-size: 2em;
	color: red;
}

@media (max-width: 1312px) {
	#chatForm{
	width: 100%;
   }
	#roomName{
		font-size: 2em;
	}
	#send{
		width: 25%;
	}
	#m{
		width: 70%;
	}
	#messageArea{
		width: 100%;
		height: 85%;
    	overflow-y: scroll;
	}
}